// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
.menu-body {
    background-image: url('../assets/imgs/bg-2-1.png');
    background-size: 80vh;
}

.menu-body ion-item {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.menu-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}